body {
  background-color: #000;
}

#facecanvas {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
  #facecanvas {
    width: 300px;
    height: 300px;
  }
}