body {
  background-color: #000;
}

.container {
  display: flex;
  flex-direction: column;
}

.camera {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#facecanvas {
  border-radius: 20px;
  width: 500px;
  height: 500px;
}

button {
  margin-top: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FD2930;
  cursor: pointer;
  border: none;
}

.roll {
  width: 100%;
  display: flex;
  justify-content: center;

}

.roll img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 800px) {
  #facecanvas {
    width: 300px;
    height: 300px;
  }
}