body {
  background-color: #000;
}

.camera {
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

#facecanvas {
  width: 500px;
  height: 500px;
}

.roll {
  position: absolute;
  bottom: 0;
}

.roll img {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 800px) {
  #facecanvas {
    width: 300px;
    height: 300px;
  }
}